/*Universal selector*/
body {
    font-family: Montserrat, sans-serif;
}
.ff-lato {
    font-family: Lato, sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.orange-color {
	color: #f1ad1d;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.up-section {
    padding: 112px 0 47px 0;
}
.up-title {
    color:  #333;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
   }
.up-description {
    font-family: Lato, sans-serif;
    color: #4d4943;
    font-size: 18px;
    margin-top: 35px;
    text-align: center;
}
.underline::after {
    content:"";
    background-color: #f1ad1d;
    display: block;
    width: 60px;
    height: 3px;
    border: none;
    margin: 52px auto;
  }
.white {
	color: #fff;
}
.mb-150 {
    margin-bottom: 150px;
}

/* End Universal selector*/



/*Header*/
.header {
	background-image: url("../img/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
}

.header-title {
    padding-top: 530px;
    color:  #fff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;

}

.header-description {
    color:  #fff;
    font-size: 18px;
    margin-top: 15px;
}

.header-slogan {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color:  #fff;
    margin-top: 30px;
    padding-right: 60px;
    font-size: 55px;
    font-weight: 700;
    border: 1px solid #fff;
    text-transform: uppercase;

}
.header-slogan span {
    display: inline-block;
	background-color: #fff;
	padding: 50px 35px ;
	margin-right: 25px;
    color: #f1ad1d;
}
/*END HEADER*/

/*slogan section*/
.section-slogan {
	background-image: url("../img/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    color: #fff;
    padding: 150px 0;
}
/*END SLOGAN*/


/*featured section*/
.section-featured {
	background-image: url("../img/3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    padding: 175px 0 115px 0;
}
.featured-logo {
	width: 840px;
	display: flex;
	justify-content: space-between;
	align-items:center;
    margin: 0 auto;
	padding-top: 25px;
}
/*END FEATURED*/



/*Product section*/

.product-section {
	background-image: url("../img/4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    padding:130px 0;
}
.product-text {
    font-size: 18px;
    color:  #fff;
    margin-top: 10px;
    text-align: center;
}
.product-link {
    display: block;
    padding-top: 10px;
	text-align: center;

}
.white-underline::after {
	content: "";
    display: block;
    background-color:#fff;
	width: 281px;
	height: 3px;
	margin: 44px auto 0 auto;
}
/*END PRODUCT*/
