.container {
	width: 1280px;
    margin: 0 auto;
}
.link-decor {
    text-decoration: none;
    color: inherit;
}
.clearfix {
    clear: both;
  }


  /*  header start */
.top-title {
	font-family: AdobeInvisFont, sans-serif;
    font-size: 80px;
    margin-top: 61px;
}
.top-title a {
	text-decoration: none;
    color:  #4bcaff;
}
.top-title-section-color {
    color: black;
}
.header-menu {
    margin-top: 45px;
    background-color: #35444f;

}

.header-menu-item {
    display: inline-block;
    padding: 25px 40px 25px 40px;
    color:  #ffffff;
    background-color: #35444f;
    font-size: 24px;
    font-family: ﻿AdobeInvisFont, sans-serif;
    text-align: left;
    box-sizing: border-box;
    list-style-type: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.header-menu-item:hover {
    display: inline-block;
    background-color:  #222f3a;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 25px 40px 25px 40px;
    list-style-type: none;

}

.header-menu-item:first-child {
    padding-left: 200px;
    text-align: left;
    border-left: 1px solid transparent;

}

.header-menu-item:last-child {
    padding-right: 125px;
    text-align: left;
    border-right: none;

}
/*  header end */

/*   main start */
.main {
	margin-top: 51px;
}

.main-sitebar {
    float: left;
    width: 344px;
    height: auto;
    box-sizing: border-box;
    border: 1px solid black;
}

.main-sitebar-item {

    list-style-type: none;
    color:  #485863;
}

.main-sitebar-item:hover {
    background-color: rgba(120, 114, 114, 0.2);
    font-family: 'Myriad Pro', sans-serif;
    font-size: 26.99px;
    text-align: left;
    padding-left: 20px;
    color: black;
}

.sitebar-link {
    display: inline-block;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 27px;
    padding: 30px 0 30px 70px;
    text-align: left;

}


.main-content-section {
/*    float: right;*/
    display: inline-block;
    margin-left: 52px;
    width: 880px;
    height: 530px;
    border: 1px solid black;
    box-sizing: border-box;
}

.top-img {
     margin: 75px 268px 73px 297px;
}
.mt-50 {
    margin-top: 50px;
}
.content-section-text {
	font-family: 'Myriad Pro', sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin: 30px 35px 30px 30px;
}
.mt-50 {
    margin-top: 50px;
}

/*   main end */



.footer {
    margin-top: 56px;
    margin-bottom: 30px;

}

.footer-menu {

    padding: 20px 30px;
    background-color: rgba(120, 114, 114, 0.5);

}
.footer-menu-list{
    display: inline-block;
}
.footer-menu-item {
	display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.footer-menu-link {
	text-decoration: none;
    font-family: 'Myriad Pro',sans-serif;
    color:  #0c1927;
    font-size: 28px;
    text-align: left;
}

.footer-link-line {
    color:  #3181a6;
    border-bottom: 1px solid #3181a6;
}

.footer-copyright {
    display: inline-block;
    font-family: 'Myriad Pro',sans-serif;
    color:  #010000;
    font-size: 24px;
    margin-left: 125px;

}
