
.container {
	width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    margin: 100px auto;
	width: 1366px;
    height: auto;
}

body {
    font-family: Verdana,sans-serif;
}
/*HEADER START*/
.header {
	padding-top: 50px;
}
.logo-section {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    color:  #fff;
}
.logo {
    background-image: url('../img/logo1.png');
    width: 46px;
    height: 50px;
    margin-right: 10px;
    transition: 0.4s;

}
.logo-section:hover {
    color: rgb(242, 101, 34);
    transition: 0.4s;
}
.logo-section:hover .logo {
    background-image: url('../img/logo.png');
    transition: 0.4s;
}


.logo-text {
    color: inherit;
    font-size: 29px;
    font-weight: 700;

}
.logo-text2 {
    display: block;
    color: inherit;
    font-size: 18px;
    font-weight: 700;
}


.header-contact {
    color:  #fff;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    text-decoration: none;

}
/*header end*/

/*MAIN START*/
.container-grid {
    width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 306px 306px 306px;
    grid-column-gap: 70px;
}
.tours-item {
    padding-top: 50px;
    width: 306px;
    height: 250px;
    position:relative;
    color: white;


}

.tours-photo {
    box-shadow: 0px 17px 24px 0px #000000;
    border:2px solid #000000;
    box-sizing: border-box;
    background-color: #fff;
    width: 307px;
    height: 200px;
}
.tours-details {
    display: flex;
    justify-content: space-between;
	position: absolute;
    width: 100%;
    background-color:rgb(242, 101, 34);
    bottom: 55px;
    opacity: 0;
    box-sizing: border-box;
}
.tours-item:hover .tours-details {
	position: absolute;
    width: 100%;
    background-color:rgb(242, 101, 34);
    bottom: 50px;
    opacity: 1;
    transition: 0.4s;
}
.details-price {
    padding: 17px;
    color:  #fff;
    font-size: 10px;
}
.details-price-sum {
	font-size: 20px;
}
.details-link {
    color:  #fff;
    font-size: 14px;
    padding-top: 25px;
    padding-right: 17px;
    text-decoration: none;
}
.details-link::after {
	content: "\003E";
    padding: 5px;
}
.tours-title {
    color:  inherit;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;

}
.title-link {
	text-decoration: none;
    color:  inherit;
}
.selected:hover {
    color: rgb(242, 101, 34);
    transition: 0.4s;
}
/*main End*/

/*FOOTER start*/
.footer {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
	padding-top: 35px;
    padding-bottom: 20px;
}
.footer-text {
    color:  #fff;
    font-size: 12px;
}
/*Footer end*/
