.container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid rgb(42%, 41%, 41%, 0.1);

}

.header-menu {
   margin: 0 auto;
   width: 580px;
   height: 14px;
   padding: 30px 0;
}

.header-menu-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.header-menu-item a {
    font-family: Roboto, sans-serif;
    color:  #16a085;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    text-decoration: none
}
.top-photo {
    background-image: url('../img/top-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 790px;

}
.main-content {
    background-color:rgba(107, 104, 104, 0.2);
}
.content-section-title {
    font-family: Roboto,sans-serif;
    color:  #373737;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding-top: 60px;
}
.content-section-text {
    font-family: Roboto,sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding-top: 35px;
    padding-left: 110px;
    padding-right: 110px;
    letter-spacing: 2px;
}
.content-section-button {
    width: 100%;
    padding: 40px 0px;
    text-align: center;
}
.content-button-form {
    border-radius: 3px;
    background-color: #16a085;
    padding: 20px 60px;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    text-decoration: none;

}
.main-footer {
    padding: 35px 10px;
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 18px;
    font-weight: 900;
    text-align: right;
}
.main-footer p {
    padding-right: 60px;
}
