.table-container {
	font-family: Arimo, sans-serif;
    margin: 100px auto;
    border: 24px solid #374765;;
    text-transform: uppercase;
    color:  #484848;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.link-style {
    display: inline-block;
	color:inherit;
    text-decoration: none;

}
.table-container td, th {
    width: 300px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);

}
.icon-style {
    color:  inherit;
    opacity: 0.5;
    font-size: 24px;
    margin-right: 10px;
}
/* head start*/

.pricing-plan-title {
    background-color: #fafafa;
    padding: 50px 0;
    color:  #484848;
    font-size: 18px;
    font-weight: 700;
}
.table-title {
    font-size: 30px;
    display: block;
}
.pricing-standart {
    background-color: #89c331;
    color:  #fff;
    font-size: 24px;
    font-weight: 700;

}
.pricing-ultimate{
    background-color:  #f04a56;
    color:  #fff;
    font-size: 30px;
    font-weight: 700;
}
.pricing-premium {
    background-color:  #20807c;
    color:  #fff;
    font-size: 24px;
    font-weight: 700;
}
.pricing-ultimate a,.pricing-premium a,.pricing-standart a {
    width: 100%;
    padding: 20px 0;
}

.pricing-sum {
	color:  #484848;
    font-size: 18px;
    text-align: left;
    background-color: #fafafa;
}
.sum {
	color: #484848;
    font-size: 60px;
    font-weight: 700;
    float: left;
    padding: 5px 0 5px 30px;
}
.sum-coin {
	display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    color:  #484848;
    font-size: 24px;
    font-weight: 700;
}
/*head end*/



.t-storage td, .t-email td, .t-products td {
    background-color: #f2f2f2;
	color:  #484848;
    font-size: 16px;
    padding: 20px 0;

}
.t-bandwidth td, .t-support td, .t-users td {
    background-color: #e3e3e3;
    color:  #484848;
    font-size: 16px;
    padding: 20px 0;

}
/*
.t-storage td:hover,.t-bandwidth td:hover,.t-email td:hover,.t-support td:hover,.t-products td:hover,.t-users td:hover {
    background-color: #484848;
    color: #fff;
}
*/

/* Footer start*/



.t-footer {
    background-color: #eeeeee;
    color: #fff;
}
.t-footer-button-contact {
	padding: 40px 45px;
    background-color: #dddddd;
    font-size: 16px;
    font-weight: 700;


}
.t-footer-link {
	width: 192px;
    padding: 15px 0 10px 0;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.4s;
}
.t-footer-button-contact .t-footer-link {
	border-bottom: 7px solid #404040;
    background-color: #484848;

}
.t-footer-button-contact .t-footer-link:hover {
    color: rgb(242, 242, 242);
    background-color: #404040;
    border-bottom: 7px solid #484848;
}
.t-footer-button-standart .t-footer-link {
    border-bottom: 7px solid #79b027;
    background-color:  #89c331;
}
.t-footer-button-standart .t-footer-link:hover {
    color: rgb(242, 242, 242);
    background-color: #79b027;
    border-bottom: 7px solid #89c331;
}
.t-footer-button-ultimate .t-footer-link {
    border-bottom: 7px solid #df3a46;
    background-color:  #f04a56;
}
.t-footer-button-ultimate .t-footer-link:hover {
    color: rgb(242, 242, 242);
    background-color: #df3a46;
    border-bottom: 7px solid #f04a56;
}
.t-footer-button-premium .t-footer-link {
    border-bottom: 7px solid #16736f;
    background-color:  #20807c;
}
.t-footer-button-premium .t-footer-link:hover {
    color: rgb(242, 242, 242);
    background-color: #16736f;
    border-bottom: 7px solid #20807c;
}
/*footer end*/
