.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.link-config {
    text-decoration: none;
    color: inherit;
}

.underline:hover {
    border-bottom: 1px solid #3cb878;
}

body {
    font-family: Verdana, sans-serif;
}
.green {
	color: #3cb878;
}
.container {
	width: 1131px;
    margin: 0 auto;
}
.wrapper {
    background-image: url('../img/background-journay.png');
    background-size: cover;
    height: 100vh;
}

/*HEADER START*/

.header {
    background-color:  rgba(0, 0, 0, 0.41);
    padding: 20px 0;
}
.logo {
    box-sizing: border-box;
	float: left;
    width: 67%;
}
.logo-title {
    color:  #fff;
    font-size: 20px;
    font-weight: 700;

}
.logo-link:hover {
	color: #3cb878;
}
.logo-link {
	text-transform: uppercase;
}
.header-icon {
    box-sizing: border-box;
}
.sprite {
    background: url('../img/sprite-icon.png') no-repeat top left;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 25px;
    text-decoration: none;
}
.sprite.ic_caledar {
    background-position: 0px 0px;
}
.sprite.ic_forum {
    background-position: -29px 0px;
    width: 28px; height: 20px;
}
.sprite.ic_journey {
    background-position: -67px 0px;
}
.sprite.ic_caledar:hover {
    background-position: -97px 0px;
}
.sprite.ic_forum:hover {
    background-position: -126px 0px;
}
.sprite.ic_journey:hover {
    background-position: -164px 0px;
}

.header-login-buttons {
    border-left: 1px solid #434343;
    float: right;
    padding: 3px 0 3px 24px;
    color:  #fff;
    font-size: 14px;
}
/*header end*/

/*MAIN START*/
.main {
	display: flex;
    justify-content: center;
}
.sign-up-section {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    padding-left: 60px;
    padding-right: 60px;
    height: auto;
    background-color: #fff;
    margin-top: 100px;
    border-radius: 10px;
    position: relative;
    padding-bottom: 30px;
}
.signup-box {
    display: inline-block;
    margin: 0 auto;

}
.decor-element {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 0px
}
.signup-title {
	float: left;
    padding-top: 30px;
    color:  #434343;
    font-size: 20px;
    text-align: center;
}
.signup-login-button {
    float: right;
    padding-top: 30px;
    font-family: Verdana;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.tagline {
	padding-top: 35px;
    color:  #848484;
    font-size: 14px;

}
.tagline::after, .tagline::before {
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    background: #848484;
    vertical-align: middle;
    opacity: 0.5;
}
.tagline::before {
    margin-right: 20px;
}
.tagline::after {
    margin-left: 20px;
}
.social-section {
    width: 100%;
    margin-top: 15px;
}
.social-button {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3px;
    width: 157px;
    margin-right: 5px;
}
.bg-blue {
    background-color:  #305db8;
}
.bg-blue:hover {
	background-color:  #264b96;
}
.bg-red {
    background-color:  #df4a32;
}
.bg-red:hover {
	background-color:  #c3412c;
}
.social-button:last-child{
    margin-right: 0;
}
.fa-facebook-f {
    font-size: 20px;
    padding: 10px 15px 10px 10px;
    color: #fff;
    border-right: 1px solid #848484;
    margin-right: 5px;

}
.fa-google-plus-g {
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    color:  #fff;
    border-right: 1px solid #848484;
    margin-right: 10px;

}
.social-link {
    color:  #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 15px;
    vertical-align: text-top;

}
.sign-up-form-item {
    display: block;
    margin-top: 20px;
    width: 305px;
    border-radius: 3px;
    background-color:  #fff;
    height: 46px;
    color:  #bebebe;
    font-size: 14px;
    border: 1px solid #bebebe;
    outline: none;
    padding-left: 20px;


}
.sign-up-form-item:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}


.checkbox {
    display:inline-block;
    margin-top: 20px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 22px;

}
.checkbox input {
    display: none;
	position: absolute;
    cursor: pointer;

}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bebebe;


}
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
  background-color: #fff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;

}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #3cb878;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);

}
.checkbox-description {
    display: inline-block;
    margin-top: 20px;
    color:  #434343;
    font-size: 14px;
}
.sign-up-button {
    display: block;
    width: 100%;
    background-color: #3cb878;
    color:  #fff;
    font-size: 16px;
    border-style: none;
    padding: 17px 0;
    border-radius: 3px;
    margin-top: 30px;

}
/*main end*/
