body {
    font-family: Montserrat, sans-serif;
    color: #fff;
}
.container {
    width: 1160px;
    margin: 0px auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color:inherit;
    
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.text-green {
    color:  #18cfab;
}
.clearfix::after {
  content: "";
  clear: both;
  
}
.section-title {
    display: block;
    color:  #4e4e4e;
    font-size: 36px;
	text-align: center;
    position: relative;
    margin-bottom: 95px;
    
}
.section-title::after {
    content: "";
	width: 5%;
    height: 1px;
    position: absolute;
    top: 70px;
    left: 47%;
    background-color:#18cfab;
}
.section-title::before {
    content: "";   
	width: 5%;
    height: 1px;
    top: 73px;
    left: 48%;
    position: absolute;
    background-color: #18cfab;
}



/*header start*/
.header {
    background-image: url('../media/img/header-bg%20%E2%80%94%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png');
    background-size: cover; 
    background-attachment: fixed;
    height: 100vh;    
}
.header-menu-section {
	background-color:  rgba(73, 71, 63, 0.6);
}
.header-logo {
	display: inline-block;
    color: #fff;
   
   }
.header-logo-decor {
    display: inline-block;
    padding: 0px 16px;	
	background: #18cfab;
	position: relative;
    font-size: 40px;
    font-weight: 700;
    text-align: center;   
}

.header-logo-decor:before {
	content: "";
	position: absolute;
	top: -15px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-bottom: 15px solid #18cfab;
}
.header-logo-decor:after {
	content: "";
	position: absolute;
	bottom: -15px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-top: 15px solid #18cfab;
}
.header-logo-title {
	display: inline-block;
    color:  inherit;
    font-size: 32px;
    padding-left: 10px;
    vertical-align: text-bottom;
}
.header-logo-title span {
	color:  #18cfab;
    font-weight: 700;
}
.header-menu {
    display: flex;
    justify-content: space-around;
   
    text-transform: uppercase;
    text-align: center;
}
.header-menu-link {
    color:  #d4d4d4;
    margin:0 10px;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding: 35px 0;
}
.header-menu-link:hover {
    color: #18cfab;   
}

.header-description {
	margin-top: 15%;
    text-align: center;
    color:#fff;
}
.header-descript-title {
	font-size: 35px;
    font-weight: 700; 
    text-transform: uppercase;
    
}
.header-descript-title2 {
	font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 45px;
}
.header-description p {
	color:  #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 130px;
}
.button {
    display: inline-block;
	width: 166px;
    padding: 20px 0;
    border-radius: 4px;
    background-color:  #18cfab;    
    font-size: 13px;
    font-weight: 700;
    box-shadow: 0px -5px #fff;
    text-transform: uppercase;
    transition: 0.5s;
}
.button:hover {
    box-shadow: 0px -5px #18cfab;
    background-color: #fff;
    color: #8a8a8a;
}
.btn-color {
	background-color:  #00cbf6;
    margin-left: 25px;
}
.header-menu-link.active {
    color: #18cfab;
    border-bottom:2px solid #18cfab;
}
.fa-search {
    color:  #d4d4d4;
    padding: 35px 0;
    font-size: 13px;
}
/*HEADER END*/


/*Service section*/
.service {
	padding-bottom: 100px;
}
.service-list {
	display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.service-item {
	box-sizing: border-box;
    background-color:  #18cfab;
    width: 25%;
    height: 370px;
    color: #fff;
    text-align: center;
    border-top: 5px solid #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.bg-dark-blue {
	background-color:  #1c2a33;
    border-top: 5px solid #18cfab;
    color:  #18cfab;
}
.service-icon {
    height: 240px;	
}
.service-icon img {
    padding-top: 100px;	
}
.service-info-list {
	display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.sevice-info-link {
    width: 16.5%;
    padding: 20px 0;
    background-color: #f8fcfe;
    color:  #717171;
    font-size: 16px;
    border: 1px solid #ececec;
    text-align: center; 
    list-style: none;
    cursor: pointer;
}
.sevice-info-link:hover {
	border: 1px solid #f8fcfe ;
    background-color: #ececec;
}
.service-info-description {
    display: none;
}
.service-info-description img {
    float: left;    
	width: 16.5%;
    height: 145px;
    border: 1px solid black;
    margin-right: 20px;
    
}.service-info-description p {
    overflow: hidden;
    height: 145px;    
    text-align: justify;
    color:  #777777;
    line-height: 20px;
}
.sevice-info-link.active {
    background-color: #18cfab;
    position: relative;
    color: #fff;
}
.sevice-info-link.active::after {
    content: "";
    position: absolute;
    top: 55px; 
	left: 45%;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #18cfab;    
}
/*END SERVICE*/

/*instal start*/
.instal-now {
	background-image: url('../media/img/BG%20%E2%80%94%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.jpg');
    background-size:cover;
    padding:125px  0;    
    text-align: center;
}
.instal-title {
    color:  #18cfab;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
}
.instal-now p {
	color:  #d8d8d8;
    font-size: 16px;
    margin-bottom: 80px;
}
/*END INSTAL*/

/*Amazing start*/
.amazing-work {
    background-color: #f8fcfe;
	padding: 100px 0;
    text-align: center;
}
.amazing-category-menu {
	display: flex;
    justify-content: center;
    margin-bottom: 80px;
    color:  #4e4e4e;
    list-style: none;
    cursor: pointer;
}
.amazing-menu-btn {
	padding: 15px 15px;
    border: 1px solid #ececec;
    font-size: 14px;
}
.amazing-menu-btn:hover {
	background-color: #ececec;
}

.amazing-category {
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-bottom: 80px;
}

.amazing-item {	
	position: relative;
    width: 24.5%;
    height: 200px;
}
.amazing-item img {
    width: 100%;
    height: 200px;
}

.amazing-hover-item {
	background-color: white;
	width: 100%;
	height: 200px;
	border-top: 2px solid #18cfab;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	transition: 2s all ease-out;
}
.dblock {
    background-color: white;
	width: 100%;
	height: 100%;
	border-top: 2px solid #18cfab;	
	transition: 2s all ease-out;
    display: block;
}
.amazing-item:hover .amazing-hover-item {
	display: block;
   
}
.amazing-item:hover .amazing-hover-item {
	display: block;
    width: 100%;
    height: 100%;
}

.amazing-hover-icon {
	padding-top: 40px;
   
}

.amazing-hover-icon i {
    margin: 5px;
    padding: 10px;
    border: 1px solid #18cfab;
    border-radius: 50%;    
}
.search-icon {
    background-color: #18cfab;
    color: #fff;
}
.fa-link {
    color: #18cfab;
}
.button-load {
    cursor: pointer;
}
.category-description {
	margin-top: 30px;
    color:  #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.category-description span {
    display: block;
    margin-top: 10px;
    color:  #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    text-transform:capitalize;
    text-align: center;
}
.fa-plus {
	padding: 5px;
}
.amazing-menu-btn.active {
	color: #18cfab;
    border-top: 2px solid #18cfab;
}
/*END AMAZING*/

/*news section*/
.news {
	padding: 100px 0;
    color:  #8a8a8a;    
}
.news-item {
	background-color: #f8fcfe;
    border: 1px solid #8a8a8a;
    margin-right: 20px;
    margin-bottom: 45px;
    position: relative;
}
.news-item:nth-child(4n) { 
    margin-right: 0;
}
.news-title {
    font-size: 18px;
    font-weight: 700;
    padding: 13px 10px 5px 10px;
}
.news-item  p {
	display: inline-block;
    padding: 0 14px;
    margin-bottom: 5px;
    color:  #717171;
}
.admin-coment {
	border-right: 1px solid #8a8a8a;
}
.news-date {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203e38;
    text-align: center;
    padding: 10px;
}
.news-date span {
	display: block;
    padding: 5px;
}
.news-item:hover {
	color:#18cfab;
}
.news-item:hover .news-date{
    background-color: #18cfab;
    color: #fff;
}
/*END NEWS*/
 /*about start*/

.about-section {
	padding: 105px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background-image:  url('../media/img/BG%20copy%202.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    text-align: center;  
}
.persons {	
	width: 482px;
	display: flex;
	justify-content: center;
	position: relative;
} 
.person-description {
	color:  #bbbbbb;
	font-size: 16px;
	font-weight: 300;
    height: 100px;
}
.section-name  {
    position: relative;
    color: #fff;
    height: 100px;
    margin-bottom: 80px;
}
.section-name h2  {    
    color:#bbbbbb; 
     
}
.section-name::after {
	content: "\275B \275B";
	display: inline-block;   
	font-size: 90px;
	color: #18cfab;
	position: absolute;
	bottom: -100px;
    left: 47.5%;
}
.person-slider {
	text-align: center;
}
#person-name {
	color:  #18cfab;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 0 15px 0;	
}
#person-position {
	color:  #bbbbbb;
	font-size: 13px;
	font-weight: 300;
    margin-bottom: 30px;
}
.person-photo {
	margin-bottom: 100px;
}
.person-photo img {
	width: 143px;
    height: 143px;
    border-radius: 143px;
    border: 3px solid #18cfab;
    box-shadow: 0px 0px 0px 13px rgba(31, 218, 181, 0.2);
}
.person-list {
	display: flex;
	justify-content: center;
}
.fa-chevron-left, .fa-chevron-right {
	color: #bbbbbb;
	border: 2px solid #bbbbbb;
	padding: 10px 12px;
	margin: 30px 20px;
    cursor: pointer;
}
.person-item img {
	width: 62px;
    height: 62px;
    border-radius: 58px;
    box-shadow: 0px 0px 0px 4px rgba(31, 218, 181, 0.2);
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 15px;
}
.person-item.active{
	position: relative;
	bottom: 12px;
}
  /*adout END*/
  /*footer start*/
.footer {
	background-color: #22353f;
	padding: 47px 0;
    text-align: center;
    color:  #aeaeae;
	font-size: 14px;
	font-weight: 300;
}
.footer span {
    padding: 0 5px;
    margin: 0 5px;
    color:  #18cfab;
	border-right: 1px solid #aeaeae;
}

.novisible{
    display: none;
}
.active {
    display: inline-block;
}


