body , html {
    overflow: hidden;
}
.animation {
    height: 100vh;
    font-family: sans-serif;
	background-color: #000;

}
.content {
    font-weight: 900;
	color: #ff6;
	position: absolute;
	width: 100%;
	height: 100vh;
	bottom: 0;
	font-weight: bold;
	text-align: justify;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(25deg) ;
}

.star-wars-titles {
	position: relative;
	top: 100%;
	animation: star-wars 20s linear infinite;
}
.star-wars-titles h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    font-size: 200px;

}
.star-wars-titles h3 {
    font-size: 120px;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}
.star-wars-titles p {
    font-size: 100px;
    width: 100%;
    text-align: justify;
    line-height: 120px;
}
@keyframes star-wars {
	0% { top: 100%;
/*      transform: rotateX(25deg) translateZ(0px);*/
    }

	100% { top: -510%;
/*    transform: rotateX(25deg) translateZ(-2500px);}*/
}
